
<div class="header1">
  <h1>Expense reimbursement claim form </h1>
</div>



<!-- new-claim.component.html -->
<!-- <clr-dropdown>
  <button clrDropdownTrigger class="btn btn-primary">
    {{ selectedCategory || 'Select Category' }}
  </button>
  <clr-dropdown-menu *clrIfOpen>
    <button clrDropdownItem (click)="goToPersonalDetails('Expense')">Expense</button>
    <button clrDropdownItem (click)="goToPersonalDetails('InternationalTravels')">International Travels</button>

    <button clrDropdownItem (click)="goToPersonalDetails('DomesticTravels')">
      Domestic Travels
    </button>


  </clr-dropdown-menu>
</clr-dropdown> -->
<div class="custom-buttons">
  <button class="custom-btn" (click)="goToPersonalDetails('Expense')">
    New Expense Claim
  </button>

  <button class="custom-btn" (click)="goToPersonalDetails('InternationalTravels')">
    New International Travels Claim
  </button>

  <button class="custom-btn" (click)="goToPersonalDetails('DomesticTravels')">
    New Domestic Travels Claim
  </button>
</div>


<clr-modal [(clrModalOpen)]="showPersonalModal" [clrModalSize]="'md'">
  <h3 class="modal-title">Personal Details</h3>

  <div class="modal-body">
    <form clrForm #personalForm="ngForm" class="personal-card-form">
      <div class="grid-two">
        <clr-input-container>
          <label>Date of Submission</label>
          <input clrInput [value]="personl.today" readonly />
        </clr-input-container>

        <clr-input-container>
          <label>Expense statement of Mr/Ms </label>
          <input clrInput [value]="personl.username" name="username" readonly  />
        </clr-input-container>
      </div>

      <div class="grid-two">
        <clr-input-container>
          <label>Employee Code</label>
          <input clrInput [value]="personl.employeeCode" name="empCode" readonly />
        </clr-input-container>

        <clr-input-container>
          <label>Purpose & Place</label>
          <input clrInput [(ngModel)]="personl.purposePlace" name="purposePlace" required />
        </clr-input-container>
      </div>

      <div class="grid-two">
        <clr-input-container>
          <label>Company OR Plant</label>
          <input clrInput [(ngModel)]="personl.companyPlant" name="companyPlant" required />
        </clr-input-container>

        <clr-input-container>
          <label>Cost Center</label>
          <input clrInput [(ngModel)]="personl.costCenter" name="costCenter" required />
        </clr-input-container>
      </div>

      <clr-input-container>
        <label>Vendor Code</label>
        <input clrInput [(ngModel)]="personl.vendorCode" name="vendorCode" required />
      </clr-input-container>

      <div class="divider"></div>

      <div class="actions">
      
        <button class="btn outline-danger" type="button" (click)="reset()">Reset</button>
          <button class="btn btn-primary" [disabled]="!personalForm.valid" (click)="onPersonalNext(personalForm)">
          Next
        </button>
      </div>
    </form>
  </div>
</clr-modal>



<div class="datagriid">
  <clr-datagrid>


    <clr-dg-column>Type</clr-dg-column>
    <clr-dg-column>Created Date</clr-dg-column>
    <clr-dg-column>Purpose & Place</clr-dg-column>
    <clr-dg-column>Amount</clr-dg-column>
    <clr-dg-column>Status</clr-dg-column>


   <clr-dg-row *clrDgItems="let item of dataSource">
  <clr-dg-cell>{{ item.type }}</clr-dg-cell>
  <clr-dg-cell>{{ item.date | date:'mediumDate' }}</clr-dg-cell>
  <clr-dg-cell>{{ item.purpose }}</clr-dg-cell>
  <clr-dg-cell>{{ item.amount }}</clr-dg-cell>
  <clr-dg-cell>
    <span [ngClass]="getStatusClass(item.status)" class="status-badge">
      {{ item.status }}
    </span>
  </clr-dg-cell>
</clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">
          Items per page
        </clr-dg-page-size>
        {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
        {{ pagination.totalItems }} items
      </clr-dg-pagination>
    </clr-dg-footer>

  </clr-datagrid>
</div>  

  