<div class="header1">
  <h1>Expense reimbursement Page </h1>
</div>


<div *ngIf="personalData">
  <clr-accordion>
    <clr-accordion-panel [clrAccordionPanelOpen]="true">
      <clr-accordion-title>
        <strong>Personal Details</strong>
      </clr-accordion-title>
      <clr-accordion-content>
        <div class="clr-row" style="margin-bottom: 1rem;">
          <div class="clr-col-2"><strong>Date of Submission:</strong></div>
          <div class="clr-col-2">{{ personalData?.today }}</div>

          <div class="clr-col-2"><strong>Expense Statement of:</strong></div>
          <div class="clr-col-2">{{ personalData?.username }}</div>

          <div class="clr-col-2"><strong>Employee Code:</strong></div>
          <div class="clr-col-2">{{ personalData?.employeeCode }}</div>
        </div>

        <div class="clr-row" style="margin-bottom: 1rem;">
          <div class="clr-col-2"><strong>Purpose &amp; Place:</strong></div>
          <div class="clr-col-2">{{ personalData?.purposePlace }}</div>

          <div class="clr-col-2"><strong>Company &amp; Plant:</strong></div>
          <div class="clr-col-2">{{ personalData?.companyPlant }}</div>

          <div class="clr-col-2"><strong>Cost Center:</strong></div>
          <div class="clr-col-2">{{ personalData?.costCenter }}</div>
        </div>

        <div class="clr-row">
          <div class="clr-col-2"><strong>Vendor Code:</strong></div>
          <div class="clr-col-2">{{ personalData?.venderCost }}</div>

          <!-- Fill remaining space -->
          <div class="clr-col-2"></div>
          <div class="clr-col-2"></div>
          <div class="clr-col-2"></div>
          <div class="clr-col-2"></div>
        </div>
      </clr-accordion-content>
    </clr-accordion-panel>
  </clr-accordion>
</div>







